<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBao-vxBoDpL2XXiGG2-KZnZot3QFhpFZc'></script>
<script src="js/maps-landing.js"></script>
<script src="js/typed.min.js"></script>
<script>
var typed = new Typed("#typed", {
  strings: ["design a website", "solving yor user experience problems", "playing a games", "pet a cats"],
  smartBackspace: true, // Default value
  loop: true,
  loopCount: Infinity,
  backDelay:1000,
  backSpeed:30,
  typeSpeed: 30
});
</script>
</html>

<!-- credits 


-->